{% extends 'base.html' %}

{% block title %}
- REGISTRARSE
{% endblock %}

{% block contenido %}
<div class="card-panel">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="row">
            {% for field in form %}
            <div class="col s12">
                {{field}}
                <label for="{{field.id_for_label}}">
                    {{field.label}}
                </label>
            </div>
            <div class="row black-text center">
                {{field.errors}}
            </div>
            {% endfor %}
        </div>

        <button class="btn waves-effect waves-light" type="submit" name="action">REGISTRARSE
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

{% endblock %}