{% extends 'base.html' %}
{% block contenido %}
<div class="card-panel">
    <!--/preguntas/modificar/-->
    <form method="POST" action="">
        {% csrf_token %}
        <div class="row">
            <h5 class="black-text">Administrador de Preguntas</h5>
        </div>
        <div class="modal-body">
            {{form.as_p}}
        </div>

        <div class="row right-align">
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a type="button" href="{% url 'preguntas:listar' %}" class="btn btn-secondary">Cancelar</a>
        </div>

    </form>
</div>
{% endblock %}