{% load static %}
<!DOCTYPE html>
<html lang="es-ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        ch.ar
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
    <link rel="icon" type="image/png" href="{% static 'img/favicon.png' %}">
</head>
<body>
    {% include 'header.html' %}
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% include 'messages.html' %}
    <main>
        <div class="section no-pad-bot">
            <div class="container">
                {% block contenido %}
                
                {% endblock %}
            </div>
        </div>
    </main>
    {% include 'footer.html' %}
    <script src="{% static 'js/materialize.min.js' %}"></script>
    <script>
        M.AutoInit();
    </script>
</body>

</html>