{% extends 'base.html' %}
{% load static %}

{% block title %}
- Nosotros
{% endblock %}

{% block contenido %}
<div class="row">
<h4 class="header">¿Quiénes somos?</h4>
<p class="flow-text">Somos un grupo de Programadores, Técnicos, Ingenieros, Aficionados que, unidos bajo un mismo objetivo, creamos la empresa code.Ar, a través de la cual ofrecemos Desarrollo Web, Administración de BD, entre otros servicios.<br>Nuestro actual proyecto, denominado "ch.ar", es un aplicativo Quiz destinado a fomentar el conocimiento y el interés hacia la Provincia del Chaco; el mismo fue desarrollada en el marco del "INFORMATORIO" que brinda el Gobierno del Chaco todos los años.<br>Para conocer más sobre esta empresa o contactarnos, les dejamos nuestras tarjetas de presentación.</p>
</div>
<div class="row">
 <div class="col s8">
    <h5 class="header">Ariel Brian Lezcano</h5>
    <div class="card horizontal card-panel">
      <div class="card-image">
        <img class="responsive-img" src="{% static 'img/ariel.png' %}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="grey-text text-darken-4">26 años</span><br>
            <span class="grey-text text-darken-4">Barranqueras-Chaco</span><br>
            <span class="grey-text text-darken-4">Técnico Superior en Análisis de Sistemas</span><br>
        </div>
        <div class="card-action">
          <a href="mailto:ariellezcano1995@gmail.com" class="blue-grey-text text-darken-4">e-mail</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="col s8 offset-s4">
    <h5 class="header">Juan Pablo Duarte</h5>
    <div class="card horizontal card-panel">
      <div class="card-image">
        <img class="responsive-img" src="{% static 'img/juan-pablo.png' %}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="grey-text text-darken-4">22 años</span><br>
          <span class="grey-text text-darken-4">Las Breñas-Chaco</span><br>
          <span class="grey-text text-darken-4">Estudiante de Técnico Universitario en Programación</span><br>
          <span class="grey-text text-darken-4">Interés en el uso de Linux y Seguridad Cibernética, participé en varias certificaciones de Cisco Academy.</span><br>
        </div>
        <div class="card-action">
          <a href="mailto:jpdrte5@gmail.com" class="blue-grey-text text-darken-4">e-mail</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="col s8">
    <h5 class="header">Marina Arrieta</h5>
    <div class="card horizontal card-panel">
      <div class="card-image">
        <img class="responsive-img" src="{% static 'img/marina.png' %}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="grey-text text-darken-4">Frontend Developer</span><br>
            <span class="grey-text text-darken-4">Estudiante de: Tecnicatura en Desarrollo de Software, Inglés, UX/UI</span><br>
            <span class="grey-text text-darken-4">Tecnologías: React, JS, HTML, CSS, Python, Git</span><br>
        </div>
        <div class="card-action">
          <a href="mailto:arrietamarina12@gmail.com" class="blue-grey-text text-darken-4">e-mail</a>
          <a href="https://www.linkedin.com/in/marina-arrieta" class="blue-grey-text text-darken-4">linked-in</a>
          <a href="https://github.com/MarinaArrieta" class="blue-grey-text text-darken-4">GIT-HUB</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="col s8 offset-s4">
    <h5 class="header">Mauro Gabriel Cattarozzi</h5>
    <div class="card horizontal card-panel">
      <div class="card-image">
        <img class="responsive-img" src="{% static 'img/mauro.png' %}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="grey-text text-darken-4">26 años</span><br>
          <span class="grey-text text-darken-4">Barranqueras-Chaco</span><br>
          <span class="grey-text text-darken-4">Ingeniero Electromecánico</span><br>
          <span class="grey-text text-darken-4">Iniciándome en la programación</span><br>
        </div>
        <div class="card-action">
          <a href="mailto:cattarozzi.mauro@gmail.com" class="blue-grey-text text-darken-4">e-mail</a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
 <div class="col s8">
    <h5 class="header">Pamela Soledad Motter</h5>
    <div class="card horizontal card-panel">
      <div class="card-image">
        <img class="responsive-img" src="{% static 'img/pamela.png' %}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="grey-text text-darken-4">36 años</span><br>
            <span class="grey-text text-darken-4">Analista Univertitario de Sistemas - AUS - UTN-FRRe</span><br>
            <span class="grey-text text-darken-4">Estudiante de 4to año Ingeniería en Sistema de Información</span><br>
            <span class="grey-text text-darken-4">Jefe Sección Unidad de Sistemas- Municipalidad de Fontana</span><br>
            <span class="grey-text text-darken-4">Fontana-Chaco</span><br>
        </div>
        <div class="card-action">
          <a href="mailto:pamelasmotter@gmail.com" class="blue-grey-text text-darken-4">e-mail</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="col s8 offset-s4">
    <h5 class="header">Rodrigo Ezequiel Cattarozzi</h5>
    <div class="card horizontal card-panel">
      <div class="card-image">
        <img class="responsive-img" src="{% static 'img/rodrigo.png' %}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <span class="grey-text text-darken-4">31 años</span><br>
          <span class="grey-text text-darken-4">Junior Full Stack Developer</span><br>
          <span class="grey-text text-darken-4">Periodista</span><br>
          <span class="grey-text text-darken-4">Locutor</span><br>
          <span class="grey-text text-darken-4">Diseñador Gráfico</span><br>
          <span class="grey-text text-darken-4">Barranqueras-Chaco</span><br>
        </div>
        <div class="card-action">
          <a href="mailto:rodrigoecattarozzi@gmail.com" class="blue-grey-text text-darken-4">e-mail</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
 <div class="col s8">
    <h5 class="header">Santiago Carlisi</h5>
    <div class="card horizontal card-panel">
      <div class="card-image">
        <img class="responsive-img" src="{% static 'img/santiago.png' %}">
      </div>
      <div class="card-stacked">
        <div class="card-content">
            <span class="grey-text text-darken-4">26 años</span><br>
            <span class="grey-text text-darken-4">Resistencia-Chaco</span><br>
            <span class="grey-text text-darken-4">Estudiante de Ciencias Económicas, carrera de Contador Público</span><br>
        </div>
        <div class="card-action">
          <a href="mailto:santiagocarlisi@gmail.com" class="blue-grey-text text-darken-4">e-mail</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}