{% extends 'base.html' %}
{% block contenido %}
<div class="card-panel">
    <form method="POST" action="{% url 'categorias:actualizar' objeto.id %}">
        {% csrf_token %}
        <div class="row">
            <h5 class="black-text">Administrador de Categorías</h5>
        </div>

        <div class="modal-body">
            {{form.as_p}}
        </div>
        <div class="row right-align">
            <button type="submit" class="btn btn-primary">Guardar</button> &nbsp;
            <a type="button" href="{% url 'categorias:listar' %}" class="btn btn-secondary">Cancelar</a>
        </div>
    </form>
</div>
{% endblock %}